.product_details {
  padding-top: 100px;
}

.product_details .container .row1 {
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.product_details .container .row1 .product_info {
  margin-top: -100px;
}

.product_details .container .row1 .big_img {
  width: 500px;
}
.product_details .container .row1 .big_img img {
  width: 400px;
  margin: 0 auto;
}

.product_details .container .row1 .small_imgs {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.product_details .container .row1 .small_imgs img {
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 5px;
  transition: 0.2s;
  margin-top: 40px;
}

.product_details .container .row1 .small_imgs img:hover,
.product_details .container .row1 .small_imgs img.active {
  border-color: rgb(0, 0, 0);
}

.product_details .container .row1 .rating {
  color: gold;
  margin-bottom: 15px;
  font-size: 20px;
}

.product_details .container .row1 .price {
  margin-bottom: 15px;
}

.product_details .container .row1 strong {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

.product_details .container .row1 .strong span {
  color: var(--primary_color);
  display: inline-block;
  font-weight: 600;
}

.product_details .container .row1 .description {
  max-width: 700px;
  line-height: 1.6;
}

.product_details .row1 .action_product {
  display: flex;
  gap: 15px;
  transition: 0.4s;
  margin-top: 25px;
}

.product_details .row1 .action_product span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f6f6f6;
  color: var(--secondary_color);
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.3s;
}

.product_details .row1 .action_product span.in-wish-list {
  color: red;
}

.product_details .row1 .action_product span:hover {
  background-color: var(--secondary_color);
  color: white;
}

.product_details .container .row1 .btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  padding: 15px 35px;
  margin-top: 30px;
  border: 1px solid var(--primary_color);
  color: var(--primary_color);
  cursor: pointer;
  transition: 0.2s;
}

.product_details .container .row1 .btn.active {
  background-color: var(--primary_color);
  color: white;
  pointer-events: none;
}

.product_details .container .products-category {
  margin-top: 100px;
  margin-bottom: 100px;
}

.product_details .container .products-category img {
  width: 130px;
}

.product_details .container .comments-content h1 {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.144);
  margin-bottom: 30px;
}

.product_details .container .comments-content .comment-block:not(:last-child) {
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.082);
}

.product_details .container .comments-content .customer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product_details .container .comments-content .customer-info .avtar {
  background-color: #eff3fd;
  color: #9ba0b1;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.product_details .container .comments-content .customer-rating {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.product_details .container .comments-content .customer-comment {
  margin-bottom: 25px;
}

.stars-5 {
  color: #2f9303;
}

.stars-4 {
  color: #6e9303;
}

.stars-3 {
  color: #ce9229;
}

.stars-2,
.stars-1 {
  color: #ce5b2a;
}

@media screen and (max-width: 992px) {
  .product_details .container .row1 {
    flex-direction: column;
  }

  .product_details .container .row1 .big_img img {
    width: 200px;
  }

  .product_details .container .row1 .small_imgs {
    gap: 15px;
  }

  .product_details .container .row1 .small_imgs img {
    width: 80px;
  }

  .product_details .container .row1 .product_info {
    margin-top: 50px;
  }
}

@media screen and (max-width: 568) {
  .product_details {
    padding: 100px;
  }
}
