.products_by_category h1 {
  margin: 30px 10px;
  font-size: 40px;
}

.products_by_category .container .products_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .products_by_category .container .products_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 992px) {
  .products_by_category .container .products_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 450px) {
  .products_by_category .container .products_container {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
